@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  display: flex;
  cursor: pointer;
}

img {
  -webkit-user-drag: none;
}